<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>colourPicker.png</key>
		<dict>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>54</integer>
			<key>originalWidth</key>
			<integer>54</integer>
			<key>width</key>
			<integer>54</integer>
			<key>x</key>
			<integer>832</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>colourPickerBackground.png</key>
		<dict>
			<key>height</key>
			<integer>442</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>442</integer>
			<key>originalWidth</key>
			<integer>442</integer>
			<key>width</key>
			<integer>442</integer>
			<key>x</key>
			<integer>606</integer>
			<key>y</key>
			<integer>670</integer>
		</dict>
		<key>colourPickerOverlay.png</key>
		<dict>
			<key>height</key>
			<integer>442</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>442</integer>
			<key>originalWidth</key>
			<integer>442</integer>
			<key>width</key>
			<integer>442</integer>
			<key>x</key>
			<integer>446</integer>
			<key>y</key>
			<integer>1274</integer>
		</dict>
		<key>colourPickerShadow.png</key>
		<dict>
			<key>height</key>
			<integer>442</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>442</integer>
			<key>originalWidth</key>
			<integer>442</integer>
			<key>width</key>
			<integer>442</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>1274</integer>
		</dict>
		<key>huePickerBackground.png</key>
		<dict>
			<key>height</key>
			<integer>602</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>602</integer>
			<key>originalWidth</key>
			<integer>602</integer>
			<key>width</key>
			<integer>602</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>670</integer>
		</dict>
		<key>menuCircleWhite.png</key>
		<dict>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>122</integer>
			<key>originalWidth</key>
			<integer>122</integer>
			<key>width</key>
			<integer>122</integer>
			<key>x</key>
			<integer>708</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>menuColourPanelBackground.png</key>
		<dict>
			<key>height</key>
			<integer>666</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>666</integer>
			<key>originalWidth</key>
			<integer>704</integer>
			<key>width</key>
			<integer>704</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>realTextureFileName</key>
		<string>CCControlColourPickerSpriteSheet-ipadhd.png</string>
		<key>size</key>
		<string>{1050,1718}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9d962ef1927778f6997f77f079d0c871$</string>
		<key>textureFileName</key>
		<string>CCControlColourPickerSpriteSheet-ipadhd.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>1718</integer>
		<key>width</key>
		<integer>1050</integer>
	</dict>
</dict>
</plist>
